<MudNavMenu Margin="Margin.Normal">
    <div Style="text-align: center" >
        <MudAvatar Image="https://img.aoyouer.com/images/2022/11/11/QQ20221111203356.jpg" Style="height:100px; width:100px; "/>
    </div>
    <MudText Align="Align.Center" Style="font-size: 18px" Color="Color.Default"><a href=""><b>轻语</b></a></MudText>
    <MudText Align="Align.Center" Style="@($"color:{Colors.Grey.Lighten1}; font-size: 13px")">神奇的小破站</MudText>
    <MudGrid Justify="Justify.Center" Spacing="2">
         <MudItem>
             <MudIconButton Target="_parent" Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/dreamguxiang" Size="Size.Small"/>
        </MudItem>
        <MudItem>
            <MudIconButton Target="_parent" Icon="@Icons.Material.Filled.Favorite" Color="Color.Secondary" Size="Size.Small"></MudIconButton>
        </MudItem>
    </MudGrid>
    <br />
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="/search" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Search">Search</MudNavLink>
    <MudNavLink Href="/archives" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Archive" >Archives</MudNavLink>
    
</MudNavMenu>

